:root {
    --txt-color: #667085;
    --red-color: #8E2424;
    --gray-color: #101828;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.content a {
    color: var(--txt-color);
    text-decoration: none;
    margin-right: 2rem;
}

button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--txt-color);
    font-size: 0.9rem;
}

button#cadastrar {
    background: var(--red-color);
    color: #FFF;
}

.cabecalho {
    display: flex;
    height: 407px;
    align-items: center;
    flex-direction: column;
}

.cabecalho span {
    margin-top: 6rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--red-color);
}

.cabecalho h1 {
    margin-top: 24px;
    font-size: 48px;
    font-weight: 600;
    color: var(--gray-color);
}

.cabecalho p {
    width: 791px;
    margin-top: 36px;
    margin-bottom: 107px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: var(--txt-color);
}

